<div class="contact">
  <form name="contactDetailForm" novalidate>
    <div>
      <span class="contact__required">*</span> field is required
    </div>
    <div class="contact__box">
      <h3 class="contact__sub-title">
        Personal
      </h3>
      <div class="contact__field">
        <label>
          Name <span class="contact__required">*</span>
        </label>
        <input
          type="text"
          name="name"
          required="required"
          ng-model="$ctrl.contact.name">
      </div>
      <div class="contact__field">
        <label>
          Email
          <span class="contact__error" ng-if="contactDetailForm.email.$error.email">
            Must be a valid email
          </span>
        </label>
        <input
          type="email"
          name="email"
          ng-model="$ctrl.contact.email">
      </div>
      <div class="contact__field">
        <label>
          Job title
        </label>
        <input
          type="text"
          name="jobTitle"
          ng-model="$ctrl.contact.job">
      </div>
      <div class="contact__field">
        <label>
          Location
        </label>
        <input
          type="text"
          name="location"
          ng-model="$ctrl.contact.location">
      </div>
    </div>
    <div class="contact__box contact__box--no-margin">
      <h3 class="contact__sub-title">
        Social
      </h3>
      <div class="contact__field">
        <label>
          Facebook
        </label>
        <input
          type="text"
          name="facebook"
          ng-model="$ctrl.contact.social.facebook">
      </div>
      <div class="contact__field">
        <label>
          GitHub
        </label>
        <input
          type="text"
          name="github"
          ng-model="$ctrl.contact.social.github">
      </div>
      <div class="contact__field">
        <label>
          Twitter
        </label>
        <input
          type="text"
          name="twitter"
          ng-model="$ctrl.contact.social.twitter">
      </div>
      <div class="contact__field">
        <label>
          LinkedIn
        </label>
        <input
          type="text"
          name="linkedin"
          ng-model="$ctrl.contact.social.linkedin">
      </div>
    </div>

    <div ng-if="$ctrl.isNewContact">
      <button
        ng-disabled="contactDetailForm.$invalid"
        ng-click="$ctrl.saveContact();">
        Create contact
      </button>
    </div>
    <div ng-if="!$ctrl.isNewContact">
      <button
        class="delete"
        ng-click="$ctrl.deleteContact();">
        Delete contact
      </button>
    </div>

  </form>
</div>
